body {
  background: #0e0e0e;
  color: white;
  text-align: center;
  font-family: Arial;
}

#multiplier {
  font-size: 48px;
  margin: 30px;
  color: #00ffcc;
}

button {
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
}
